* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

.section {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
}

.logo {
  height: 30px;
  padding-left: 0px;
}

.toggle {
  height: 27px;
  display: none;
  margin-left: auto;
  padding: 5px;
}

.middle-section {
  display: flex;
  margin: 0;
  align-items: center;
}

div p {
  display: inline-block;
  font-size: medium;
}

.right-section {
  align-items: center;
}

.button1 {
  border-radius: 10px;
  padding: 16px 40px;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
  box-shadow: 3px 3px #999;
  transition-duration: 0.4s;
  background-color: white;
  color: black;

  font-family: 200;
}

.button1:hover {
  background-color: seagreen;
}

.button2 {
  border-radius: 10px;
  padding: 16px 40px;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
  box-shadow: 3px 3px #999;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
}

.button2:hover {
  background-color: seagreen;
}

.button2:active {
  background-color: slateblue;
  box-shadow: 0 3px #666;
  transform: translate(7px);
}

div p:hover {
  color: black;
  background-color: white;
}

@media (max-width: 600px) {
  .section {
    flex-direction: column;
  }

  .left-section {
    margin-right: 50px;
    padding-top: 10px;
  }

  .logo {
    padding-left: 10px;
    margin-left: 50px;
  }

  .toggle {
    display: block;
    border: 2px;
    border-style: solid;
    /* margin-left: auto;  */
  }

  .middle-section {
    width: 100%;
    flex-direction: column;
    background-color: rgb(246, 224, 195);
  }

  div p {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .right-section {
    display: none;
  }

  .left-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
