@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h1,
input,
button,
label {
    font-family: "Jost", sans-serif;
}

label {
    font-weight: 500;
    font-size: 20px;
}